@import './base.css';

#app {
  margin: 0 auto;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}



@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 50%, 0.2);
  }
}

body {
  display: flex;
  place-items: center;
}

#app {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: clamp(500px, 760px, 40%) auto;
}

.sidebar-comp {
}

