@font-face {
    font-family: 'crimson-pro';
    src: url('../fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf'), format('truetype');
  }

@font-face {
  font-family: 'gothic';
  src: url('../fonts/Carrois_Gothic/CarroisGothic-Regular.ttf')
}

@font-face {
  font-family: 'marcellus';
  src: url('../fonts/Marcellus/Marcellus-Regular.ttf')
}
@font-face {
  font-family: 'honey';
  src: url('../fonts/Honeypirls-Regular.otf')
}

@font-face {
  font-family: 'fifties';
  src: url('../fonts/fifties_movies/Fifties-Movies.ttf')
}

@font-face {
  font-family: 'newake';
  src: url('../fonts/newake/NewakeFont-Demo.otf')
}