@font-face {
    font-family: 'crimson-pro';
    src: url('../fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf'), format('truetype');
  }

@font-face {
  font-family: 'gothic';
  src: url('../fonts/Carrois_Gothic/CarroisGothic-Regular.ttf')
}

@font-face {
  font-family: 'marcellus';
  src: url('../fonts/Marcellus/Marcellus-Regular.ttf')
}
@font-face {
  font-family: 'honey';
  src: url('../fonts/Honeypirls-Regular.otf')
}

@font-face {
  font-family: 'newake';
  src: url('../fonts/newake/NewakeFont-Demo.otf')
}

@font-face {
  font-family: 'apple';
  src: url('../fonts/apple_garamond/AppleGaramond.ttf')
}

@font-face {
  font-family: 'apple-light';
  src: url('../fonts/apple_garamond/AppleGaramond-Light.ttf');
}

@font-face {
  font-family: 'softers';
  src: url('../fonts/softers/Softers.otf');
}

@font-face {
  font-family: 'cushion';
  src: url('../fonts/lt_cushion/LTCushion-Medium.ttf');
}

@font-face {
  font-family: 'cushion-bold';
  src: url('../fonts/lt_cushion/LTCushion-Black.ttf');
}